@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@300;800&family=Work+Sans:wght@100;200;300;400;600;700&display=swap');

body {
    background: #FFF;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;

}

header,
main {
    max-width: 1400px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px;
}

.nav-title {
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-item {}

.nav-item ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.nav-item ul li {
    margin-right: 30px;
}

.nav-item ul li a {
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}

.banner {
    display: flex;
    justify-content: space-between;
    margin: 80px;
    gap: 100px;
}

.banner-title {
    color: #3A3A3A;
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}

.banner-info {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 600;
    margin: 15px 0;
}

.banner-btn {
    border-radius: 41px;
    background: #E02C6D;
    padding: 10px 24px;
    border: none;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 10px;
}

.banner-img {
    background-image: url('../images/Circle\ design.svg');
    align-items: center;
}

.banner-img img {
    margin: 30px 30px 30px 2px;

}

.social-service {
    margin: 80px;
    margin-bottom: 100px;
}

.social-img {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}

/* main style here */
.sponser-section {
    margin: 80px;
}

.sponser-title {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.sponser {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-content: center;
    padding: 0;
}



.sponser img {
    width: 100%;
}



.sponser h3 {
    color: #18191F;
    font-size: 1.8rem;
    font-weight: 500;
    margin: 10px 0;
}

.sponser h5 {
    color: rgba(0, 0, 0, 0.87);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    margin: 12px 0;

}

.card {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 15px;
}

.card img {
    width: 100%;
}

.sponser .card-info {
    color: #787885;
    font-family: Inter;
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: 0.252px;
    margin-right: 100px;
    margin-top: 10px;
}

/* main style ends here */

/* features section star here */

.features {
    display: flex;
    justify-content: space-between;
    margin: 80px;
    gap: 90px;
}

.features-img {
    border-radius: 10px;
}

.features-content h3 {
    color: #0A0826;
    font-family: Poppins;
    font-size: 38px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 20px;
}

.features-content p {
    color: #6C6C6C;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    margin-right: 200px;
}

/* features start end here */


























@media screen and (max-width:476px) {
    .navigation {
        flex-direction: column;
        margin: 30px;
    }

    .banner, .features {
        flex-direction: column-reverse;
        margin: 30px;

    }

    .banner-content {
        text-align: center;
    }

    .banner-title {
        font-size: 2rem;
    }

    .banner-img {
        background-position: center;
        background-size: cover;
    }

    .banner-img img {
        width: 100%;
        margin: 10px;
    }

    .social-service {
        margin: 30px;
    }

    .social-img {
        flex-direction: column;
        margin: 10px;
        width: 60%;
        margin: 10px auto;
    }

    .sponser-section {
        margin: 10px;
        width: 100%;
    }

    .sponser {
        grid-template-columns: repeat(1, 1fr);
    }
    .features-content{
        text-align: center;
    }
    .features-content p {
        margin: 20px;
    }
    .features-img{
        margin: 10px;
        width: 100%;
        object-fit: cover;
    }
}









